//Identity
$identity-primary: #DC0A2D;

//Pokémon Type
$bug-type: #A7B723;
$dark-type: #75574C;
$dragon-type: #7037FF;
$electric-type: #F9CF30;
$fairy-type: #E69EAC;
$fighting-type: #C12239;
$fire-type: #F57D31;
$flying-type: #A891EC;
$ghost-type: #70559B;
$normal-type: #AAA67F;
$grass-type: #74CB48;
$ground-type: #DEC16B;
$ice-type: #9AD6DF;
$poison-type: #A43E9E;
$psychic-type: #FB5584;
$rock-type: #B69E31;
$steel-type: #B7B9D0;
$water-type: #6493EB;

//Gray Scale
$dark: #212121;
$medium: #666666;
$light: #E0E0E0;
$background: #EFEFEF;
$white: #FFFFFF;