// Horizontal Shadow
$horizontalOffset: 0rem;

//Vertical Shadow
$verticalOffset-small: 0.0625rem; //1px
$verticalOffset-normal: 0.1875rem; //3px

//Blur
$blurRadius-small: 0.1875rem; //3px
$blurRadius-normal: 0.75rem; //12px

//Spread
$spreadRadius-small: 0.0625rem; //1px
$spreadRadius-normal: 0.1875rem; //3px

//Color
$color-black-basic: rgba(0, 0, 0, .2);
$color-black-dark: rgba(0, 0, 0, .25);